<!-- <select class="m-weatherLookup__countriesList">
  <option *ngFor="let country of countries"><img src="assets/flags/{{ country.name }}.png"
         alt="{{ country.name }}"> {{ country.isoCode }}</option>
</select> -->

<div class="m-countriesList"
     (click)="countrySelectorHidden = !countrySelectorHidden">
  <div class="m-countriesList__countryElement"
       *ngIf="selectedCountry">
    <div class="m-countriesList__countryElement__countryFlag"
         [style.backgroundImage]="'url(assets/flags/' + countryNameSterilize(selectedCountry.name) + '.png)'"></div>
    <span class="m-countriesList__countryElement__countryIsoCode">{{ selectedCountry.isoCode }}</span>
  </div>
  <div class="m-countriesList__countryList"
       *ngIf="!countrySelectorHidden">
    <div class="m-countriesList__countryList__innerContainer">
      <div class="m-countriesList__countryElement"
           *ngFor="let country of countries"
           (click)="selectedCountry = country">
        <div class="m-countriesList__countryElement__countryFlag"
             [style]="{ 'background-image': 'url(assets/flags/' + countryNameSterilize(country.name) + '.png)' }">
        </div>
        <span class="m-countriesList__countryElement__countryIsoCode">{{ country.isoCode }}</span>
      </div>
    </div>
  </div>
</div>
