<div class="m-locationContainer m-locationContainer--country"
     (click)="countrySelectorHidden = !countrySelectorHidden">
  <div class="m-locationContainer__dropdownElement m-locationContainer__dropdownElement--country"
       *ngIf="stateSvc.selectedCountry.value !== null"
       title="{{ stateSvc.selectedCountry.value.country_name }}">
    <div class="m-locationContainer__dropdownElement__countryFlag"
         [style.backgroundImage]="'url(assets/flags/' + stateSvc.selectedCountry.value.country_code.toLowerCase() + '.png)'">
    </div>
    <span class="m-locationContainer__dropdownElement__textElement">{{ stateSvc.selectedCountry.value.country_code
      }}</span>
  </div>
  <div class="m-locationContainer__dropdownList"
       *ngIf="!countrySelectorHidden">
    <div class="m-locationContainer__dropdownList__innerContainer">
      <div class="m-locationContainer__dropdownElement m-locationContainer__dropdownElement--country"
           *ngFor="let country of countries"
           (click)="selectCountry(country)"
           title="{{ country.country_name }}">
        <div class="m-locationContainer__dropdownElement__countryFlag"
             [style]="{ 'background-image': 'url(assets/flags/' + country.country_code.toLowerCase() + '.png)' }">
        </div>
        <span class="m-locationContainer__dropdownElement__textElement">{{ country.country_code }}</span>
      </div>
    </div>
  </div>
</div>
