.m-locationContainer {
  position: relative;
  height: $cSelectorHeight;
  border: $cSelectorBorder;
  border-radius: $cSelectorBorderRadius;

  &.m-locationContainer--country {
    margin: 0 0.75rem;
    width: $countrySelectorWidth;
  }

  &.m-locationContainer--city {
    width: $citySelectorWidth;
  }

  &__dropdownList {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: $cSelectorDropdownHeight;
    overflow: hidden;
    background-color: #ffffff;
    border: $cSelectorBorder;
    border-radius: $cSelectorBorderRadius;

    &__innerContainer {
      width: calc(100% + 40px); // To hide the scroll bar
      max-height: calc(#{$cSelectorDropdownHeight} - 2px); // Account for border
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }

  &__dropdownElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(#{$cSelectorHeight} - 2px); // Account for border
    cursor: pointer;

    &.m-locationContainer__dropdownElement--country {
      width: calc(#{$countrySelectorWidth} - 2px); // Account for border
    }

    &.m-locationContainer__dropdownElement--city {
      width: calc(#{$citySelectorWidth} - 2px); // Account for border
    }

    &__countryFlag,
    &__textElement {
      margin-left: 1rem;
    }

    &__countryFlag {
      width: 1.125rem;
      height: 1.125rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__textElement {
      font-weight: 700;
      color: #08153e;
    }

    &__textInput {
      box-sizing: border-box;
      height: calc(#{$cSelectorHeight} - 2px);
      width: calc(#{$citySelectorWidth} - 2px);
      background-color: #fff;
      padding: 0 3rem 0 1rem;
      border: none;
      outline: none;
      font-weight: 700;
      background-image: url('../assets/search.svg');
      background-repeat: no-repeat;
      background-position: right calc((#{$cSelectorHeight} / 2) - 0.75rem)
        bottom calc((#{$cSelectorHeight} / 2) - 0.75rem);
      color: #08153e;

      &::placeholder {
        color: rgba(8, 21, 62, 0.5);
        font-weight: 400;
      }
    }
  }
}
