// Angle of 34.229deg is consistent with right triangle with sides a = 9, b = 16
$background-gradient: linear-gradient(
  124deg,
  #102f7e 0%,
  #0c8dd6 12.5%,
  #1aa0ec 25%,
  #60c6ff 37.5%,
  #9bdbff 50%,
  #b4deda 62.5%,
  #ffd66b 75%,
  #ffc178 87.5%,
  #fe9255 100%
);

$widgetBackgroundColor: #f8f8f8;
$countrySelectorWidth: 6rem;
$citySelectorWidth: 26.5rem;
$cSelectorHeight: 3rem;
$cSelectorDropdownHeight: 30vh;
$cSelectorBorder: 1px solid rgba(8, 21, 62, 0.05);
$cSelectorBorderRadius: 0.5rem;
